@use './_variables.css';
@use './_reset';

body {

}



/* Для WebKit-браузеров (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Ширина вертикального скроллбара */
  height: 8px; /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey; /* Цвет скроллбара */
  border-radius: 10px; /* Закругление углов */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона скроллбара */
}